html {
    width: 100%;
    margin: auto;
}

.navbar {
    background-color: rgba(248, 241, 241, 0.3);
    height: 60px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.menubar {
    height: 25px;
    margin: 10px 10px 10px 10px;
    

}

.logo  {
    height: 90px;
    margin: 10px 15px 10px 1px;
    
}

.input {
    height: 25px;
    margin: 10px 5px 10px 200px;
    width: 30em;
}

.search {
    height: 30px;
    margin: 10px 15px 10px 1px;
}

.crvideo {
    height: 25px;
    margin: 10px 15px 10px 260px;
}

.appsicon {
    height: 25px;
    margin: 10px 15px 10px 10px;
}

.notify {
    height: 25px;
    margin: 10px 15px 10px 10px;
}

.signin {
    height: 30px;
    margin: 10px 15px 10px 10px;
}

.fitter {
    background-color: rgba(212, 211, 211, 0.1);
    height: 100%;
    display: flex;
    flex-direction: row;
}

.doflex {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: rgba(212, 211, 211, 0.1);
    margin-top: 20px;    
}

.upnext {
    margin: 10px 20px 5px 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    
}

.autoplay {
    margin: 10px 0px 5px 120px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.onoff {
    margin: 10px 20px 0 4px;
    height: 25px;
    
    align-items: center;
}
.videoplayer {
    background-color: transparent;
    height: 441px;
    width: 784px;
    margin: 20px 10px 10px 75px;

}

.nextflex {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.paragraph {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    margin-left: 5px;
    line-height: 1px;


}

hr {
    opacity: 0.3;
}

.sidebar {
    margin-left: 15px;
    
}


a {
    text-decoration: none;
    color: black;
}
.videoname {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.viewanddate {
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-right: 0;
}

.againflex {
    display: flex;
    flex-direction: row;
    height: 20px;

}
