.html {
    width: 100%;
    margin: auto;
}

.navbar {
    height: 60px;
    background-color: blanchedalmond;
    width: 100%;
    align-items: center;
    top: 0;
    display: flex;
    flex-direction: row;
    position: fixed;

}   

.fullbody {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.videoplayer {
    background-color: blue;
    height: 441px;
    width: 784px;
    margin: 50px 10px 10px 75px;

}

.bottomOfVideoplayer {
    background-color: chartreuse;
    height: 220px;
    width: 784px;
    margin: 30px 10px 10px 75px;

}

.rightside {
    background-color: darkmagenta;
    height: 1000px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 0;


}

.fullbody {
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: cyan;
    height: 90px;
    width: 100%;
    margin-top: 20px;
}

.menubar {
    height: 25px;
    margin: 10px 10px 10px 10px;
    

}

.logo  {
    height: 90px;
    margin: 10px 15px 10px 1px;
    
}

.input {
    height: 25px;
    margin: 10px 5px 10px 200px;
    width: 30em;
    
}

.search {
    height: 30px;
    margin: 10px 15px 10px 1px;
}

.crvideo {
    height: 25px;
    margin: 10px 15px 10px 260px;
}

.appsicon {
    height: 25px;
    margin: 10px 15px 10px 10px;
}

.notify {
    height: 25px;
    margin: 10px 15px 10px 10px;
}

.signin {
    height: 30px;
    margin: 10px 15px 10px 10px;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: normal;
}

.numberOfViews {
    display: flex;
    flex-direction: row;
    border-spacing: 4em;
    margin-top: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    align-items: center;
}

.allTogether {
    display: flex;
    flex-direction: row;

}

.fitter {
    background-color: rgba(212, 211, 211, 0.1);
    height: 100%;
    display: flex;
    flex-direction: row;
}

.doflex {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: rgba(212, 211, 211, 0.1);
    margin-top: 5px;    
}

.upnext {
    margin: 0 20px 5px 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    
}

.autoplay {
    margin: 0 0px 5px 120px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.onoff {
    margin: 10px 20px 0 4px;
    height: 25px;
    
    align-items: center;
}


.nextflex {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.paragraph {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    margin-left: 5px;
    line-height: 1px;


}

hr {
    opacity: 0.3;
}

.sidebar {
    margin-left: 15px;
    
}

a {
    text-decoration: none;
    color: black;
}

.footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: normal;
    align-items: center;
    display: inline-flex;
    
}

.author2 {
    margin-left: 20px;
}

.author1 {
    margin-right: 20px;
    margin-left: 20px;
}

hr {
    background-color: rgb(231, 227, 227);
}

.avatarandname {
    display: flex;
    flex-direction: row;    
}